<div class="grid">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th *ngFor="let header of headers">{{header.name}}</th>
      </tr>
      <tr>
        <td *ngFor="let header of headers">
          <input
            #filter
            *ngIf="header.filter !== false && (header.type === 'text' || header.type === undefined)"
            class="form-control"
            type="text"
            [attr.data-field]="header.field"
            [attr.data-partial]="header.partial"
          >
          <input
            #filter
            *ngIf="header.filter !== false && (header.type === 'number')"
            class="form-control"
            type="number"
            [attr.data-field]="header.field"
            [attr.data-partial]="header.partial"
          >
          <input
            #filter
            *ngIf="header.filter !== false && header.type === 'date'"
            class="form-control mb-1"
            type="date"
            [attr.data-field]="header.field + '_to'"
          >
          <input
            #filter
            *ngIf="header.filter !== false && header.type === 'date'"
            class="form-control"
            type="date"
            [attr.data-field]="header.field + '_from'"
          >
        </td>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tr *ngFor="let row of data">
      <td *ngFor="let header of headers">
        <input
          #cell
          *ngIf="header.editable && header.type !== 'date'"
          class="editable"
          type="text"
          value="{{getValue(row[header.field], header.format)}}"
          (input)="editCellKeyups$.next({id: row.id, field: header.field, value: cell.value, row: row})"
        >
        <input
          #cell
          *ngIf="header.editable && header.type === 'date'"
          class="editable"
          type="date"
          value="{{getDateValue(row[header.field])}}"
          [attr.data-field]="header.field"
          (input)="editCellKeyups$.next({id: row.id, field: header.field, value: setDateValue(cell.value), row: row})"
        >
        <span *ngIf="!header.editable">{{getValue(row[header.field], header.format)}}</span>
        <button
          *ngIf="header.type === 'actions' && header?.components?.view?.component === 'button'"
          type="button"
          class="btn btn-primary"
        >
          {{header?.components?.view?.text}}
        </button>
      </td>
    </tr>
  </table>
</div>
