<div class="container">
  <h1>Project Dashboard</h1>
  <div class="stats p-2">
    <div>Total Budget: {{totalBudget}}</div>
    <div *ngIf="statusPercentages?.new">New: {{utils.formatPercentage(statusPercentages?.new / totalProjects)}}</div>
    <div *ngIf="statusPercentages?.working">Working: {{utils.formatPercentage(statusPercentages?.working / totalProjects)}}</div>
    <div *ngIf="statusPercentages?.archived">Archived: {{utils.formatPercentage(statusPercentages?.archived / totalProjects)}}</div>
  </div>
  <div class="actions py-2 d-flex justify-content-between">
      <div class="d-flex">
        <button class="btn btn-success mr-1">New Project</button>
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Export
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item">Excel</a>
            <a class="dropdown-item">PDF</a>
          </div>
        </div>
      </div>
      <div>
        Displaying {{projects?.length}} of {{totalProjects}} projects
      </div>
  </div>
  <app-grid
    [headers]="gridHeaders"
    [data]="projects"
    (filter)="getProjects($event)"
    (editCell)="updateProject($event)"
  >
  </app-grid>
</div>
