<div class="container">
  <h1>Project Dashboard</h1>
  <div class="stats p-2">
    <div>Stat</div>
    <div>Stat</div>
    <div>Stat</div>
  </div>
  <div class="actions py-2">
    <button class="btn btn-success mr-1">New Project</button>
    <span class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Export
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Excel</a>
        <a class="dropdown-item" href="#">PDF</a>
      </div>
    </span>
  </div>
  <app-grid
    [headers]="gridHeaders"
    [data]="projects"
    (filter)="getProjects($event)"
    (editCell)="updateProject($event)"
  >
  </app-grid>
</div>
