<div class="p-3">
  <div class="d-flex justify-content-between">
    <h2>Project Dashboard</h2>
    <div class="stats p-2">
      <div class="d-flex justify-content-between">Total Budget: <strong>{{totalBudget}}</strong></div>
      <div class="d-flex justify-content-between" *ngIf="statusPercentages?.new">
        New: <strong>{{statusPercentages?.new}} ({{utils.formatPercentage(statusPercentages?.new / totalProjects)}})</strong>
      </div>
      <div class="d-flex justify-content-between" *ngIf="statusPercentages?.working">
        Working: <strong>{{statusPercentages?.working}} ({{utils.formatPercentage(statusPercentages?.working / totalProjects)}})</strong>
      </div>
      <div class="d-flex justify-content-between" *ngIf="statusPercentages?.archived">
        Archived: <strong>{{statusPercentages?.archived}} ({{utils.formatPercentage(statusPercentages?.archived / totalProjects)}})</strong>
      </div>
    </div>
  </div>
  <div class="actions py-2 d-flex justify-content-between align-items-end">
      <div class="d-flex">
        <button class="btn btn-outline-success mr-1">New Project</button>
        <div class="dropdown">
          <button
            class="btn btn-outline-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Export
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Excel</a>
            <a class="dropdown-item" href="#">PDF</a>
          </div>
        </div>
      </div>
      <div>
        Displaying <strong>{{projects?.length}}</strong> of <strong>{{totalProjects}}</strong> projects
      </div>
  </div>
  <app-grid
    [headers]="gridHeaders"
    [data]="projects"
    (filter)="getProjects($event)"
    (editCell)="updateProject($event)"
  >
  </app-grid>
</div>
